{
	"presets": [
			[ "@babel/preset-env",
				{
					"modules": false,
					"targets": {
						"ie": 11
					},
					"spec": true,
					"forceAllTransforms": true,

					"debug": true
				}
			]
		]
}
